body{
    background-color: pink;
    padding: 20px;
 }
 
 .calculadora{
    max-width: 400px;
    margin: auto;
    background-color: pink;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
 
 }

#calculadoraFormulario button {
   background-color: rgb(100, 19, 100);
}